ExtensionHostApp.xcodeproj/project.xcworkspace/xcuserdata/danielabulgaru.xcuserdatad/UserInterfaceState.xcuserstate
ExtensionHostApp.xcodeproj/xcuserdata/danielabulgaru.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
